<!DOCTYPE html>
<html>
<head>
	<meta charset="US-ASCII"/>
	<title>Insert title here</title>
		
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="js/main.js"></script>
	
</head>
<body>

<form id="userForm" method="post">

	Username: <input name="username"/> <br/>
	First Name: <input name="firstname"/> <br/>
	Last Name: <input name="lastname"/> <br/>
	Email: <input name="email" /><br/>
	<input type="hidden" name="createdDate" value="2014-02-02T00:00:00"/>
	<input type="hidden" name="isActive" value="1"/>
	
	<a href="">Create user</a>

</form>

</body>
</html>